@import url(./fonts/inter-v18-latin/css/fonts-css.css);

:root {
    /* section for color properties  */
    --color-primary: #4CAF4F;
    --color-secondary: #263238;
    --color-info: #2194f3;
    --color-silver: #F5F7FA;
}

.color-primary {
    color: #4CAF4F;
}


.fw-600 {
    font-weight: 600 !important;
}

body {
    font-family: 'Inter';
}

.navbar-c,
.section-hero {
    background-color: var(--color-silver) !important;
}

.btn-login {
    color: var(--color-primary) !important;
}

.btn-c {
    background-color: var(--color-primary);
    border: none;
}

.carousel-indicators-c [data-bs-target] {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    
}